html, body {
  width: 100%
}

.current-char {
  color: white;
  background-color: black;
  width: 1ch;
}

.locale-selector {
  float: right;
}

.current-newline-char {
  color: white;
  background-color: black;
  width: 1ch;
  display: inline-block;
}

.incorrect-char {
  color: white;
  background-color: lightcoral;
}
 
.correct-char {
  color: black;
}

.inactive-char {
  color: #949494;
}

.typing-visualiser {
  color: lightgrey;
  font-family: "Courier New", ui-monospace;
  font-weight: bold;
  font-size: large;
}

.evaluation-block {
  width: 600px;
  left: 25%;
  font-family: sans-serif;
  margin: 50px auto 100px;
}

.slider {
  width: 100%;
}

.progression-button {
  display: block;
  width: 48%;
}

.full-width {
  width: 100%;
}

.completed-section{
  color: lightgrey;
  font-weight: bold;
}
.current-section{
  font-weight: bolder;
}
.uncompleted-section{
  color: lightgrey;
  font-weight: normal;
}

.progression-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.label-container {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 9pt;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-label {
  text-align: left;
}

.right-label {
  text-align: right;
}

.center-label {
  text-align: center;
}

.hidden-input {
  opacity: 0;
  user-select: none;
}

.information-block {
  margin-top: 12px;
}

.warning-box {
  border: 4px solid red;
  color: red;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 24px;
  display: flex;
}