/* container */
#game_area {
    position: relative;
    width: min(64vmin, 248px);
    aspect-ratio: 1 / 1;
}
.game_area-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 64px 64px 0;
}

/* common side styles */
.side {
    position: absolute;
    display: flex;
}

/* sides around the board */
.side-0 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
}

.side-1 {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    flex-direction: column;
}

.side-2 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
}

.side-3 {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    flex-direction: column;
}

/* buttons */
.board-button {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    flex: 0 0 auto;
}
.board-button--selected {
    font-weight: 1000;
}
.board-button--submitted {
    color: grey;
}
.board-button--submitted-and-selected {
    color: grey;
    font-weight: 1000;
}