/* container */
.body {
    font-family: monospace;
}

/* container */
#game_area {
    position: relative;
    width: min(90vmin, 98vw);
    aspect-ratio: 1 / 1;
}
#board_svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    pointer-events: none;
    z-index: -10;
}
.board-connector {
    stroke: dodgerblue;
    stroke-width: 6;
    stroke-linecap: round;
    opacity: 0.9;
}
.board-connector--submitted {
    stroke: dodgerblue;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-dasharray: 16;
    opacity: 0.3;
}

.game_area-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 64px 32px 32px;
}

/* common side styles */
.side {
    position: absolute;
    display: flex;
    gap: 32px;
}

/* sides around the board */
.side-0 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
}

.side-1 {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    flex-direction: column;
}

.side-2 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
}

.side-3 {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    flex-direction: column;
}

/* buttons */
.gameplay-button {
    font-family: monospace;
    
    width: 128px;
    height: 64px;
    font-size: 24px;
    margin: 16px;
}
.board-button {
    font-family: monospace;
    
    width: 128px;
    height: 128px;
    font-size: 32px;
    box-sizing: border-box;
    flex: 0 0 auto;
}
.board-button--selected {
    font-weight: bold;
    color: cornflowerblue;
}
.board-button--submitted {
    color: lightgrey;
    font-weight: lighter;
}
.board-button--submitted-and-selected {
    color: dodgerblue;
    font-weight: bold;
}
.board-button--solved {
    font-weight: bolder;
    color: dodgerblue;
}

/* readout */
.readout-area {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 16px;
    justify-content: center;
    align-items: center;
}
.current-word {
    justify-content: center;
    
    font-size: 36px;
    font-weight: bold;
    display: flex;
}
.all-words {
    justify-content: center;
    
    font-size: 32px;
    color: lightgrey;
}